*{
    margin: 0;
    padding: 0;
}
ul,ol,li{
    list-style: none;
}
a{
    text-decoration: none;
}
/*html{
    font-size: 30px;
}*/
body{
    background-color: #f8f8f8;
}
/* tab栏 */
/*.jobshare_tab{
    width: 100%;
    height: 3.233rem;
    text-align: center;
}
.jobshare_tab li{   
    height: 3.233rem;
    line-height: 3.233rem;
    font-size:1rem;
    text-align: center;
}
.jobshare_tab li>a{
    display: block;
    color: #999;
    width: 100%;
}
.active{
    color: #333 !important;
}
.active_line{
    width: 36.46%;
    height: 0.267rem;
    border-radius: 0.1333rem;
    background-color: #00adb4;
    position: relative;
    bottom: 0.267rem;
    left: 31.7696%;
}*/

/*企业招聘头*/
.jobshare_title{
    height: 2.48rem;
    width: 100%;
    /*background-color: red;*/
}
.jobshare_title img{
    height: 0.6rem;
    margin-left: 0.6rem;
    margin-top: 1.24rem;
}

/* 邀请函列表 */
.jobshare_list{
    width: 100%;
    overflow: hidden;
    padding-bottom: 1.04rem;
}
.jobshare_list li{
    float: left;
    width: 6.6rem;
    height: 11.32rem;
    margin-left: 0.6rem;
    /*background-color: red;*/
}
.jobshare_list li a{
    display: block;
    width: 100%;
}
/* .jobshare_list li:nth-child(2n+1){
    margin-left: 0.6rem;
} */

.jobshare_list li img{
    width: 100%;
    height: 100%;
   
}
.more{
    margin-bottom: 1.64rem;
    
}
.more>p{
    color: #666;
    font-size: 0.52rem;
    text-align: center;
    z-index: 10;
}
.jobshare_bottom{
    width: 100%;
    height: 6.6rem;
    position: fixed;
    bottom: 0;
    z-index: -1;
}
.jobshare_bottom img{
    width: 100%;
    height: 100%;
}