*{
    margin: 0;
    padding: 0;
}
ul,ol,li{
    list-style: none;
}
.container{
    width: 100%;
    height: 100%;
    overflow: hidden;   
}

html{
    font-size: 16px;
}

/* 媒体查询部分 */
@media only screen and (min-width:320px){
    html{
        font-size: 13px;
    }
}
@media only screen and (min-width:375px){
    html{
        font-size: 14px;
    }
}
@media only screen and (min-width:375px){
    html{
        font-size: 16px;
    }
}
@media only screen and (min-width:768px){
    html{
        font-size: 24px;
    }
}
@media only screen and (min-width:1024px){
    html{
        font-size: 34px;
    }
}
/* 音乐盒 */
/* .music{
    width: 10%;
    position:fixed;     
    top: 3%;
    right: 9%;
    opacity: .6;
    animation: music_box 0.8s linear infinite;
    z-index: 100;
}
@keyframes music_box {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
} */
/* 底部背景 */
.background_img{
    width: 100%;
    height: 100%;
    position:fixed;
    transform: scale(1.5,1.2);
    opacity: 0;
    animation: background_img 1s 0.1s linear forwards;
    z-index: -1;
}
@keyframes background_img {
    0% {
    }
    100% {
        opacity: 1;
        transform:scale(1,1);
    }
}
/* 边框盒子 */
.element-box{
    width: 70%;
    height: 80%;
    margin-left: 13%;
    margin-top: 2rem;
    color: rgb(85, 85, 85);
    text-align: left;
    border-width: 7px;
    border-style: solid;
    border-color:#f6e47e;
    border-radius: 0px;
    box-shadow: rgba(0, 0, 0, 0.5) 0px 0px 0px;
    z-index: 2;
    animation: zoomIn 1s 0.1s linear forwards;
    background-color:#ffffff;
    opacity: 0;
}
@keyframes zoomIn {
    0% {
        opacity: 0;
        transform: scale(0.1,0.1);
    }
    100% {
        opacity: 0.9;
        transform: scale(1,1);
    }
}

/* 向上箭头 */
.up{
    width: 30px;
    height: 20px;
    position: absolute;
    bottom: 10%;
    left: 50%;
    transform: translateX(-15px);
    animation: up 1s 1s linear infinite;
    z-index: 1;
}
@keyframes up {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
        transform: translate(-15px,-30px);
    }
}

/* 编辑 */
.bottom{
    width: 100%;
    text-align: center;
    position: fixed;
    bottom: 0;
    height: 3rem;
    line-height: 3rem;
    color: #00adb4;
    background-color: #f8f8f8 ;
    z-index: 10;
}
.edit{
    width: 50%;
    text-align: center;
    float: left;
    height: 3rem;
    line-height: 3rem;
    color: #00adb4;
    background-color: #f8f8f8 ;
}
.save{
    width: 50%;
    text-align: center;
    float: left;
    height: 3rem;
    line-height: 3rem;
    color: #00adb4;
    background-color: #f8f8f8 ;
}
textarea{
    resize: none;
}
input::-webkit-input-placeholder{
    color:#ccc;
    font-size: 1rem;
}
input::-moz-placeholder{   /* Mozilla Firefox 19+ */
    color:#ccc;
    font-size: 1rem;
}
input:-moz-placeholder{    /* Mozilla Firefox 4 to 18 */
    color:#ccc;
    font-size: 1rem;
}
input:-ms-input-placeholder{  /* Internet Explorer 10-11 */ 
    color:#ccc;
    font-size: 1rem;
}

textarea::-webkit-input-placeholder{
    color:#ccc;
    font-size: 1.4rem;
}
textarea::-moz-placeholder{   /* Mozilla Firefox 19+ */
    color:#ccc;
    font-size: 1.4rem;
}
textarea:-moz-placeholder{    /* Mozilla Firefox 4 to 18 */
    color:#ccc;
    font-size: 1.4rem;
}
textarea:-ms-input-placeholder{  /* Internet Explorer 10-11 */ 
    color:#ccc;
    font-size: 1.4rem;
}
