* {
  margin: 0;
  padding: 0;
}
.swiper-container {
  position: relative;
  width: 100%;
  height: 100%;
}
.swiper-slide {
  position: relative;
}
.swiper-slide > img {
  width: 100%;
}
.bgm-btn.rotate {
  animation: rotating 1.2s linear infinite;
}
@keyframes rotating {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(1turn);
  }
}
.bgm-btn {
  position: absolute;
  right: 20px;
  top: 20px;
  z-index: 200;
}
.bgm-btn {
  position: absolute;
  right: 20px;
  top: 20px;
  z-index: 200;
  width: 30px;
  height: 30px;
  background-image: url("../img/bgmBtn-fbd2dc.svg");
  background-size: contain;
  background-repeat: no-repeat;
}
.element-box {
  position: absolute;
  left: 50%;
  margin-left: -3rem;
  top: 4.8rem;
}
.element-box,
.element-box img {
  width: 6rem;
}
.element-box .magnifier {
  width: 4rem;
  position: absolute;
  top: 3rem;
  left: 2.6rem;
}
.page1-Text {
  position: absolute;
  top: 17rem;
  left: 50%;
  transform: translateX(-50%);
}
.page1-Text > input {
  min-width: 10rem;
}
input,
textarea,
.page1-Text > input,
.company_Profile {
  border: none;
  background-color: transparent;
  resize: none;
  font-family: fangzheng_zht;
  color: #fff;
  opacity: 1;
}
.page1-Text p,
.page1-Text > input,
.company_Profile {
  font-size: 0.72rem;
  color: #fff;
  text-align: center;
  line-height: 1.5;
}
.arrowBox {
  position: fixed;
  bottom: 2rem;
  left: 50%;
  margin-left: -0.6rem;
  z-index: 300;
}
.arrow {
  width: 1.2rem;
  animation: start 1.5s infinite ease-in-out;
}
@keyframes start {
  0%,
  30% {
    opacity: 0;
    transform: translateY(10px);
  }
  60% {
    opacity: 1;
    transform: translate(0);
  }
  100% {
    opacity: 0;
    transform: translateY(-8px);
  }
}
/* page2 */
.company {
  left: 50%;
  transform: translateX(-50%);
}
.company,
.jobIntroduction,
.contactUs {
  position: absolute;
  top: 5.2rem;
}
.contactUs {
  min-width: 10rem;
  text-align: center;
}
.contactUs > p {
  color: #fff;
  font-size: 0.72rem;
  margin-top: 0.4rem;
}
.company h2,
.company > .company_Profile {
  color: #fff;
  font-family: fangzheng_zht;
}
.company h2,
.jobIntroduction h2,
.jobIntroduction .job_title,
.contactUs h2 {
  font-size: 0.8rem;
  font-weight: 100;
  text-align: center;
  color: #fff;
}
.company .company_Profile {
  height: 7rem;
  min-width: 10rem;
  font-size: 0.56rem;
  line-height: 1.8;
  text-indent: 2em;
  margin-top: 1rem;
  text-align: justify;
  visibility: visible !important;
}
.page2-bm {
  width: 10rem;
  position: absolute;
  top: 15.2rem;
  left: 50%;
  transform: translateX(-50%);
}
.page2-bm > img {
  width: 10rem;
  visibility: visible !important;
}
/* page3 */
.jobIntroduction {
  width: 11rem;
  text-align: center;
  top: 2rem !important;
  left: 50%;
  margin-left: -5.5rem;
  visibility: visible !important;
}
.jobIntroduction .job_title {
  margin-top: 0.6rem;
}
.jobIntroduction > div span,
.jobIntroduction > div textarea {
  color: #fff;
  font-size: 0.52rem;
  line-height: 1.8;
}
.jobIntroduction > div textarea {
  display: block;
  margin: 0 auto;
  min-width: 11rem;
  min-height: 5.2rem;
}
.jobIntroduction > div {
  text-align: left!important;
}
.jobIntroduction > div:nth-of-type(2) {
  margin-top: 0.4rem;
}
.jobIntroduction .salary {
  margin-top: 0.4rem;
  font-size: 0.8rem;
  color: #59c7f9;
  text-align: center;
}
/* page4 */
.contactUs {
  left: 50%;
  transform: translateX(-50%);
}
.contactUs > div {
  text-align: center;
  margin-top: 2rem;
}
canvas {
  width: 5rem;
  height: 5rem;
  vertical-align: middle;
}
.ewm_tip span,
.ewm_tip p {
  font-size: 0.6rem;
  color: #59c7f9;
}
/* 编辑 */
.edit {
  width: 100%;
  text-align: center;
  position: fixed;
  bottom: 0;
  background-color: #f8f8f8 ;
}
.edit > button {
  float: left;
  width: 50%;
  color: #00adb4;
  font-size: 0.6rem;
  border: none;
  background: #fff;
  outline: none;
  height: 1.8rem;
  line-height: 1.8rem;
}
.edit .submit {
  width: 100%;
}
